html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

.result-header {
   background-color: #e8e8e8;
   border-bottom-color: #000000;
   border-bottom-style: solid;
   border-bottom-width: 0.5px;
}

.result-header-search {
    margin-top: 0.5%;
}

form input[type="text"].result-header-search-bar {
    /*width: 80%;*/
}
